body{
margin: 0;
font-family: 'Handlee', Open Sans;
}
.header{
margin-top: 3%;
text-align: center;
font-family: 'Handlee', Open Sans;
color: white;
font-size: 60px;
}
.logo{
margin-top: 4%;
text-align: center;
}
.container-fluid {
  padding-top: 0;
}
.media{
padding: 0;
height: 850px;
width:100%;
background-image: url(../images/landing.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
margin-top: 70px;
}
.media2{
padding: 0;
height: 600px;
width:100%;
background-image: url(../images/foodsBg.jpg);
 background-repeat: no-repeat;
background-position: center center;
background-size: cover;
}
